.feed-tile-img{
    max-height: 20em;
  }

  .feed-tile-img-frame{
      max-width: 20em;
      overflow: hidden;
      text-align: center;
  }

.feed-tile-icon{
    color: #fafafa;
}

.shop-list-feed{
	max-width: 20em;
	display: flex;
	flex-wrap: 'wrap';
	justify-content: 'space-around';
	overflow: 'hidden';
	max-width: 20em;
	display: flex;
	flex-wrap: 'wrap';
	justify-content: 'space-around';
	overflow: 'hidden';
	width: 500;
    height: 450;
    // Promote the list into his own layer on Chrome. This cost memory but helps keeping high FPS.
    transform: 'translateZ(0)';


}
.ShopTitle{
	max-width: 20em;
	max-height: 20em;

}

/*.GridList{
	max-width: 20em;
	display: flex;
	flex-wrap: 'wrap';
	justify-content: 'space-around';
	overflow: 'hidden';
	width: 500;
    height: 450;
    // Promote the list into his own layer on Chrome. This cost memory but helps keeping high FPS.
    transform: 'translateZ(0)';

}

#img{
	display: flex;
}*/
