.detail-image-frame{
    height: 40em;
    overflow: hidden;
}

.detail-main-image{
  width: 100%;
}
.top-info{
    position: relative;
    top: 1em;
}
.detail-company{
    font-size: 1.2em;
    font-weight: 700;
    color: #888;
}

.detail-title{
    font-size: 3em;
    margin-bottom: 0.4em;
}

.subtitle{
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 2em;
}

.blog{
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 30em;
}
.blog-title{
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 1em;
}
.blog-content{
 width: 100%;
}

@media (max-width: 700px) { 
    .detail-main-image{
        height: 100%;
        width: 700px !important;
    }
 }
